.lenni {
    background-color: white;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 45px;
    padding-bottom: 100px;
    align-items: center;
    &__iwant {
        font-size: 22px;

           }
    &__iwant-btn {

        font-family: "Open Sans", serif;
        margin-left: 45px;
        margin-right: 45px;
        }


    }