.reserve {
    padding: 40px 0 150px 40px;
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
      "checks scheme"
      "order legend"; 
    width: 100%;

    @media @bw1340 {
        gap: 65px 6.5%;
        grid-template-columns: 340px calc(93.5% - 340px);
      }
      @media @bw1020 {
        gap: 60px;
        grid-template-columns: auto 390px;
        grid-template-areas: 
          "scheme scheme"
          "checks legend"
          "checks order"; 
      }
      @media @bw768 {
        grid-template-columns: 100%;
        grid-template-areas: 
          "scheme"
          "legend"
          "checks"
          "order"; 
      }

    &__checks {
        grid-area: "checks";
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__scheme {
        grid-area: "scheme";
    }
    &__order {
        grid-area: "order";
        background-color: magenta;
    }
    &__legend {
        grid-area: "legend";
        background-color: yellow;
    }
    &__picture {
      @media @bw1340 {
        min-width: 780px;
        min-height: 399px;
      }
      @media @bw1020 {
        min-width: 628px;
        min-height: 322px;
      }
      @media @bw768 {
        min-width: 280px;
        min-height: 144px;
      }
    }
  }